/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}


.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 3px 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
 
}
header nav ul  {
  display: flex;
  padding-left: 0;
  list-style: none;
justify-content: center;
 
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
  
 
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
  flex-direction: column;
  white-space: nowrap;
}
.x{
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

form label {
  font-weight: bold;
  
  display: inline-block;
  width: 150px;
  text-align: left;
  
  
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  display: inline-block;
  
  
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px){
  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
   
}
  header {
    /* Changes the default setting from `block` to `flex`. */
    display: flex;
    /* Pushes the items (the title and nav) to the far sides of the 
       browser with space between them. */
    justify-content: space-between;
    /* Adds 0 pixels padding top and bottom, and 30 pixels padding 
       left and right. */
    padding: 0 30px;
  }
   /* Users cannot hover on mobile devices, so that is why you
       implement this behavior only for larger screens. */
       header nav ul li a:hover {
        /* Targets the change when a user holds the pointer over the anchor tag 
           (link) within the list items within the unordered list that 
           is within the navigation that is within the header. */
        color: #bdbdbd;
      }
      main .item img {
        
        flex-direction: column;
      }
      .change {
        width: 50%;
      }
      .join {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       
        
      }
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      .smallsize {
        width: 20%;
        padding: 5px;
        padding-right: 20px;
      }
      .stacked {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
      }
      .smallersize {
        width: 55%;
      }
      .side {
        display: flex;
        flex-direction: row;
      }
      .sizeup {
        max-width: 96%;
        height: auto;
        margin: auto;
      }
      #img2 {
        max-width: 50%;
        height: auto;
      }
      #blog p {
        margin: 25px;
      }
      #blog h3 {
        margin: 25px;
      }
      .pad{
        padding:0 30px;
      }
      .pad2{
        padding: 100px 0;
      }
     
}
 